@import "tailwindcss";

@theme {
  /* --color-golden: #A2875C; */
  --color-golden: #000;
  --breakpoint-xs: 30rem;
  
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: #e8e3e3; */
}

.container{
  width:100%;
  max-width: 1377px;
  padding-left: 20px;
  padding-right: 20px;
}


@media only screen and (max-width:1500px){
  .container{
    max-width: 1250px;
  }
}

@media only screen and (max-width:1400px){
  .container{
    max-width: 1190px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-cinzel), serif;
}

@font-face {
  font-family: 'Avgardn';
  src: url('/fonts/avgardeGothik.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

p{
  font-family: 'Avgardn', sans-serif;
  letter-spacing: 1px;
}

.filter_header button{cursor: pointer; text-transform: uppercase; font-weight: 500;}
.filter_header .mixitup-control-active{color: #A2875C; text-decoration: underline;}

.home_bottom_slider .swiper-pagination-bullet{background-color: white;}
.home_bottom_slider .swiper-pagination-bullet .swiper-pagination-bullet-active{}